@page "/"
@using Microsoft.AspNetCore.Components
@using BlazorCakeApp.Shared


<div class="container-fluid">


	<div class="row d-flex justify-content-center mt-5">

		<div class="col-md-6 text-left text-uppercase heading-text align-self-center">
			<p class="mx-3">Det finns alltid plats för lite tårta</p>
		</div>
		<img class="img-class img-fluid col-lg-6 align-self-center justify-content-center align-items-center" src="https://images.unsplash.com/photo-1621303837174-89787a7d4729?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=436&q=80" />
	</div>

	<div class="row d-flex justify-content-center mt-5">

		<img class="img-class img-fluid col-lg-6 align-self-center justify-content-center align-items-center margin-bottom-index" src="https://images.unsplash.com/photo-1562440499-64c9a111f713?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80" />
		<div class="col-md-6 text-left text-uppercase text-style align-self-center margin-bottom-index">
			<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. " </p>
		</div>

	</div>

</div>






@code {

}

<style>

	.img-class {
		height: 600px;
		width: 450px;
		object-fit: contain;
	}

	.heading-text {
		font-size: 3rem;
	}

	.text-style {
		font-size: 2rem;
	}

	.margin-bottom-index {
		margin-bottom: 100px;
	}


</style>