@inherits LayoutComponentBase

<NewMenu></NewMenu>

<main>
	<article class="container-fluid content px-4 test">
		@Body
	</article>
</main>

<Footer></Footer>

<style>
	.test {
		background: #F3CCCC;
	}
</style>    